@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	list-style: none;
	font-size: 1.1rem;
	user-select: none;
}
a {
	color: black;
	cursor: pointer;
	display: block;
}
body {
	padding: 20px 40px;
	@media screen and (max-width: 400px) {
		padding: 10px 20px;
	}
}
